:root {
    background-color: rgba(26, 48, 39, .9);
}


@font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto-Regular.ttf");
    font-weight: 200;
}

/* @font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/RobotoRegular.ttf");
    font-weight: 300;
} */

body {
    font-family: 'Roboto';
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    
    /* padding: 0 50px; */

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}


* {
    box-sizing: border-box;
}  

/*header*/

.header {
    min-width: 100%;
    height: 50px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.nav-list a {
    text-decoration: none;
    color: black;
    display: block;
    text-transform: uppercase;
    display: block;
}
.nav-list a:hover {
    color:  rgba(132, 156, 44, .5);
}

/*main*/  

.main{
    /* padding: 20px; */
}

.container {
    display: block;

}

.container .section:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-transform: uppercase;
}

h2 {
    background-color: rgba(132, 156, 44, .5);
    padding: 0 20px;
    text-transform: uppercase;
}

#code div {
    background-color: rgba(245, 245, 219, .7);
    margin: 20px;
}
 
.footer {
    background-color: rgb(47, 57, 54);
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 

.container {
    margin: 0 auto;
}


